.sidebar {
  float: right;
  margin: 0 0 15px;
  overflow: hidden;
  width: 9.375rem;
}
.sidebar-module {
  word-wrap: break-word;
  margin-bottom: 1.5em;
  width: inherit;
}
.sidebar-module p {
  margin-top: 0;
  margin-bottom: 3px;
}
.sidebar-module h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0 0 10px 0;
  padding: 0;
}
.interesting-tags {
  word-wrap: break-word;
}
.summarycount {
  text-align: left;
  font-size: 26px;
  line-height: 1;
}