/* Editor
   ========================================================================== */
.editorbox {
  clear: both;
}
.editor-avatar {
  float: left;
}
.editor-formbox {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 60px;
  position: relative;
  padding: 10px;
}
.editor-formbox .form-group {
  margin-bottom: 10px;
}
.editor-formbox .form-group:last-child {
  margin-bottom: 0;
}
.editor-btn-panel {
  overflow: hidden;
}
.editor-btn-text {
  float: left;
}
.editor-btn-preview {
  float: right;
}
.editor-formbox textarea {
  border-color: #ddd;
  background-color: #fafafa;
  min-height: 200px;
  resize: vertical;
  max-width: 100%;
  padding: 6px 10px;
  display: block;
  width: 100%;
  font-size: 14px;
}
.editor-footer {
  overflow: hidden;
}
.editor-tips {
  float: left;
  font-size: 12px;
  color: #999;
}
.editor-actions {
  float: right;
}
.editor-preview {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: auto;
  display: none;
  font-size: 13px;
  min-height: 200px;
  padding: 5px 10px;
}