/* CSS tag sector
   ========================================================================== */
*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 16px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
/*
 * header
 */
h1, h2, h3, h4, h5, h6{
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin: 0 0 .5rem;
}
h1 {
    font-size: 2.5rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.5rem;
}
h5 {
    font-size: 1.25rem;
}
h6 {
    font-size: 1rem;
}
/*
 * paragraph
 */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
/*
 * link
 */
a {
    color: #0275d8;
    text-decoration: none;
}
a:focus,
a:hover {
    color: #014c8c;
    text-decoration: underline;
}
a:focus {
    outline: 0 none;
}
/* Layout sector
   ========================================================================== */
/*
 * container
 */
.container {
    max-width: 62rem;
    padding-right: .9375rem;
    padding-left: .9375rem;
    margin-right: auto;
    margin-left: auto;
}
.container::after {
    display: table;
    clear: both;
    content: "";
}
/* block sector
   ========================================================================== */
/*
 * form
 */
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.form-control {
    background-color: #fff;
    background-image: none;
    border: .0625rem solid #ccc;
    display: block;
    width: 100%;
    padding: .15rem .5rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #55595c;
}
.input-group .form-control {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}
.form-control::-ms-expand {
    background-color: transparent;
    border: 0;
}
.form-control:focus {
    border-color: #66afe9;
    outline: none;
}
.form-control::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
}
.form-control::-moz-placeholder {
    color: #999;
    opacity: 1;
}
.form-control:-ms-input-placeholder {
    color: #999;
    opacity: 1;
}
.form-control::placeholder {
    color: #999;
    opacity: 1;
}
.form-controlabel {
    padding: .4375rem .75rem;
    margin-bottom: 0;
}
.form-group {
    margin-bottom: 15px;
}
/*
 * button
 */
.btn {
    display: inline-block;
    padding: .15rem .5rem;
    font-size: 1rem;
    border-radius: 0.15rem;
    font-weight: normal;
    line-height: 1.5;
    text-align: center;
    white-space: nowrap;
    verticaalign: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: .0625rem solid transparent;
}
.btn:focus,
.btn.focus,
.btn:active:focus,
.btn:active.focus,
.btn.active:focus,
.btn.active.focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.btn:focus,
.btn:hover {
    text-decoration: none;
}
.btn.focus {
    text-decoration: none;
}
.btn:active,
.btn.active {
    background-image: none;
    outline: 0;
}
.btn.disabled,
.btn:disabled,
fieldset[disabled] .btn {
    cursor: not-allowed;
    opacity: .65;
}
/*
 * primary button
 */
.btn-primary {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn-primary:hover {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}
.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
}
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #025aa5;
    background-image: none;
    border-color: #01549b;
}
.btn-primary:active:hover,
.btn-primary:active:focus,
.btn-primary:active.focus,
.btn-primary.active:hover,
.btn-primary.active:focus,
.btn-primary.active.focus {
    color: #fff;
    background-color: #014682;
    border-color: #01315a;
}
.btn-primary.disabled:focus,
.btn-primary.disabled.focus,
.btn-primary:disabled:focus,
.btn-primary:disabled.focus,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary.focus {
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn-primary.disabled:hover,
.btn-primary:disabled:hover,
fieldset[disabled] .btn-primary:hover {
    background-color: #0275d8;
    border-color: #0275d8;
}
/*
 * nav
 */
.nav {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav__item {
    float: left;
}
.nav__link {
    display: inline-block;
}
.nav__link:focus,
.nav__link:hover {
    text-decoration: none;
}
.nav__item + .nav__item {
    margin-left: 1rem;
}
/*
 * nav-tabs
 */
.nav-panel {
    border-bottom: .0625rem solid #e0e0e0;
}
.nav-panel::after {
    display: table;
    clear: both;
    content: "";
}
.nav-panel__tabs {
    float: right;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.nav-panel__tabs::after {
    display: table;
    clear: both;
    content: "";
}
.nav-panel__item {
    margin-bottom: -.0625rem;
    margin-right: .3rem;
    float: left;
}
.nav-panel__item:last-child {
    margin-right: 0;
}
.nav-panel__link {
    font-size: .75rem;
    display: block;
    padding: .3rem .6rem;
    border-color: transparent transparent #e0e0e0;
    border-image: none;
    border-style: solid;
    border-width: .125rem .0625rem .0625rem;
    color: #777;
}
.nav-panel__link:focus,
.nav-panel__link:hover {
    border-color: #f90 #e0e0e0 #fff;
    border-image: none;
    border-style: solid;
    border-width: .125rem .0625rem .0625rem;
    text-decoration: none;
    color: #777;
}
.nav-panel__link-active,
.nav-panel__link-active:focus,
.nav-panel__link-active:hover {
    border-color: #f90 #e0e0e0 #fff;
    border-image: none;
    border-style: solid;
    border-width: .125rem .0625rem .0625rem;
    color: #333;
    background-color: #fff;
}
.nav-panel__title {
    float: left;
}
.nav-panel__title_text p {
    margin-bottom: .3125rem;
}

/*
 * label
 */
.label {
    display: inline-block;
    padding: .25rem .4rem;
    font-size: 75%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}
.label:empty {
    display: none;
}
.btn .label {
    position: relative;
    top: -1px;
}
a.label:focus,
a.label:hover {
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}
.label-warning {
    background-color: #ff9900;
}
.label-warning[href]:focus,
.label-warning[href]:hover {
    background-color: #ff9900;
}

/*
 * tag-link
 */
.tag-link {
    background: #e4edf4;
    border: .0625rem solid #e4edf4;
    border-radius: 0;
    color: #3e6d8e;
    display: inline-block;
    font-size: 12px;
    line-height: 1;
    margin: 2px 2px 2px 0;
    padding: 0.4em 0.5em;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
}
/*
 * pagination
 */
.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 1rem 0;
}
.pagination li {
    display: inline;
}
.pagination li:first-child > a {
    margin-left: 0;
}
.pagination__link {
    border: 1px solid #eee;
    color: #888;
    display: block;
    float: left;
    font-size: .75rem;
    margin-right: .3rem;
    padding: .25rem .5rem;
    text-decoration: none;
    position: relative;
    background-color: #fff;
}
.pagination__link:hover,
.pagination__link:focus {
    text-decoration: none;
    background: #f90;
    border-color: #f90;
    color: #fff;
    transition: color 0.15s ease 0s, background 0.15s ease 0s, border 0.15s ease 0s;
}
.pagination__link-active,
.pagination__link-active:focus,
.pagination__link-active:hover {
    background: #f90;
    border-color: #f90;
    z-index: 2;
    color: #fff;
    cursor: default;
}
.pagination__link-disabled,
.pagination__link-disabled:focus,
.pagination__link-disabled:hover {
    background: #fff;
    border-color: #eee;
    z-index: 2;
    color: #ccc;
    cursor: not-allowed;
}
/*
 * dropdown
 */
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 15rem;
    font-size: .75rem;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 .2rem .8rem rgba(0, 0, 0, 0.15);
    color: #666;
    overflow: hidden;
}
.dropdown-menu-visible {
    display: block;
}
.dropdown-menu__header {
    background: #f0f0f0;
    border-bottom: 1px solid rgba(200, 200, 200, 0.4);
    padding: .4rem .6rem;
}
.dropdown-menu__title {
    color: #333;
    font-weight: bold;
    text-shadow: 0 1px 0 #fff;
}
.dropdown-menu__close {
    color: #ccc;
    cursor: pointer;
    display: block;
    float: right;
    line-height: 1.1rem;
}
.dropdown-menu__close:focus,
.dropdown-menu__close:hover {
    color: #555;
}
.dropdown-menu__form-group {
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    padding: 0.4rem 0.6rem;
}
.dropdown-menu__form-control {
    font-size: .8rem;
}
.dropdown-menu__list {
    list-style: outside none none;
    margin-bottom: 0;
    margin-top: 0;
    padding-left: 0;
    line-height: 1.4;
    overflow: auto;
    position: relative;
}
.dropdown-menu__item {
    border-bottom: 1px solid #eee;
    color: inherit;
    cursor: pointer;
    display: table;
    overflow: hidden;
    table-layout: fixed;
    width: 15rem;
}
.dropdown-menu__link {
    display: block;
    padding: .3rem 1rem;
    clear: both;
    font-weight: normal;
    line-height: 1.5;
    text-align: inherit;
    white-space: nowrap;
    background: none;
    border: 0;
}
.dropdown-menu__link:focus,
.dropdown-menu__link:hover {
    color: #2b2d2f;
    text-decoration: none;
    background-color: #f5f5f5;
}














