.questions-page {
    float: left;
    width: 45.5rem;
}
.question-list {
    padding: 0;
    margin: 0;
}
.question-list::after {
    display: table;
    clear: both;
    content: "";
}
.question-row {
    border-bottom: 1px solid #e0e0e0;
    padding: .6rem 0 .6rem;
    border-bottom: .0625rem solid #f0f0f0;
    float: left;
    overflow: hidden;
    width: 45.5rem;
}
.question-row__stats {
    float: left;
    margin-right: .625rem;
    vertical-align: top;
    cursor: pointer;
}
.question-row__tile {
    display: inline-block;
    color: #777;
    height: 3rem;
    width: 3.5rem;
    text-align: center;
}
.question-row__votes {
    margin: 0 .2rem 0 0;
    padding: .3125rem .3125rem .375rem;
}
.question-row__status {
    margin: 0 .2rem 0 0;
    padding: .375rem;
}
.question-row__status-answered {
    padding: .375rem;
    background-color: #08b;
    color: #e8e800;
}
.question-row__views {
    margin: 0 .4rem 0 0;
    padding: .3125rem .3125rem .375rem;
}
.question-row__count {
    line-height: 1.125rem;
}
.question-row__number {
    font-size: 1rem;
}
.question-row__text {
    line-height: 1.125rem;
    font-size: .7rem;
}
.question-row__summary {
    float: left;
    padding: 0;
    width: 33rem;
}
.question-row__summary::after {
    display: table;
    clear: both;
    content: "";
}
.question-row__tags {
    width: 18rem;
    float: left;
}
.question-row__author-stat {
    line-height: inherit;
    padding-top: .3rem;
    white-space: nowrap;
    width: auto;
    color: #999;
    font-size: .7rem;
    float: right;
}
.question-row__date-link {
    color: #777;
}


.search-panel {
    margin-top: .5rem;
    padding-bottom: .5rem;
    position: relative;
    border-bottom: 1px solid rgba(164, 164, 164, 0.1);
    box-sizing: border-box;
}
.search-panel::after {
    display: table;
    clear: both;
    content: "";
}
.search-panel__input-box {
    float: right;
    margin-left: 2rem;
    width: 20rem;
}
.search-panel__input {
    font-size: .8rem;
    background-color: #fafafa;
}
.search-panel__nav {
    float: left;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.search-panel__nav::after {
    display: table;
    clear: both;
    content: "";
}
.search-panel__item {
    margin-right: .5rem;
    float: left;
}
.search-panel__item:last-child {
    margin-right: 0;
}
.search-panel__link {
    color: #777;
    font-size: .75rem;
    padding: .2rem
}
.search-panel__link:focus,
.search-panel__link:hover {
    text-decoration: none;
    color: #333;
}
.search-panel__link:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color transparent transparent;
    border-image: none;
    border-style: solid;
    border-width: .25rem;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: -.1rem;
    width: 0;
    margin-left: .2rem;
}






