<?php

return [
    'components' => [
        'db' => [
            'class' => 'yii\db\Connection',
            'dsn' => 'mysql:host=127.0.0.1;dbname=database_name',
            'username' => 'root',
            'password' => '',
            'charset' => 'utf8'
        ],
    ],
];
