/* navigation
   ========================================================================== */
/*
 * header navigation
 */
.navbar {
    background: #333;
    border-bottom: .3rem solid #f90;
    position: relative;
    font-size: 0.8em;
    padding: 0.5rem 0;
}
.navbar::after {
    display: table;
    clear: both;
    content: "";
}
.navbar__brand {
    font-family: "Source Code Pro",Menlo,Consolas,Monaco,monospace;
    color: #f1f1f1;
    font-size: 1.6em;
    float: left;
    padding: 0;
}
.navbar__brand:focus,
.navbar__brand:hover {
    color: #e4e4e4;
    text-decoration: none;
}
.navbar__brand-current {
    pointer-events: none;
}
.navbar__brand-beta {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
    display: inline-block;
    position: relative;
    pointer-events: none;
    border: .125rem solid #ff9900;
    border-radius: .185rem;
    color: #ff9900;
    font-size: .8rem;
    font-weight: bold;
    line-height: normal;
    margin-left: .185rem;
    padding: 0 .125rem;
    top: -0.3rem;
    right: 1.6rem;
    transform: rotate(30deg);
}
.navbar__nav {
    float: right;
}
.navbar__nav .nav__link {
    color: #e9e9e9;
    display: block;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    transition: background 0s ease 0s, all .2s ease 0s, all 0s ease 0s;
}
.navbar__nav .nav__link:focus,
.navbar__nav .nav__link:hover {
    color: #bcbcbc;
}
.navbar__nav .nav__link-active {
    color: #ff9900;
    font-weight: bold;
}
.navbar__nav .nav__link-active:focus,
.navbar__nav .nav__link-active:hover {
    color: #eb8900;
}
.navbar__nav .nav__link-active:focus > .nav__link-active-label,
.navbar__nav .nav__link-active:hover > .nav__link-active-label {
    background-color: #f08d00;
}
.navbar__nav .nav__link-active-label {
    border-radius: 0.1rem;
    font-size: 85%;
    font-weight: normal;
    transition: background 0s ease 0s, all .2s ease 0s, all 0s ease 0s;
}
/*
 * suheader navigation
 */
.subnavbar {
    padding: 1.5rem 0 1.5rem;
}
.subnavbar__nav {
    float: right;
    max-width: 40rem;
}
.subnavbar__nav .nav__item + .nav__item {
    margin-left: .2rem;
}
.subnavbar__nav .nav__pill:before {
    content: "/";
}
.subnavbar__nav .nav__pill {
    background-color: #858d93;
    border-radius: 0;
    border-color: #858d93;
    color: #fff;
    font-size: .8rem;
    transition: background 0s ease 0s, all .2s ease 0s, all 0s ease 0s;
}
.subnavbar__nav .nav__pill:hover,
.subnavbar__nav .nav__pill:focus {
    color: #fff;
}
.subnavbar__nav .nav__pill:hover,
.subnavbar__nav .nav__pill:focus {
    background-color: #ff9900;
    border-color: #ff9900;
}
.subnavbar__nav .nav__pill:active,
.subnavbar__nav .nav__pill_active {
    color: #fff;
    background-color: #ff9900;
    background-image: none;
    border-color: #ff9900;
}
.subnavbar__nav .nav__pill:active:hover,
.subnavbar__nav .nav__pill:active:focus,
.subnavbar__nav .nav__pill_active:hover,
.subnavbar__nav .nav__pill_active:focus {
    color: #fff;
    background-color: #ff9900;
    border-color: #ff9900;
}
/*
 * site-search
 */
.site-search {
    float: left;
    width: 18rem;
    position: relative;
}
.site-search__input {
    background-color: #fafafa;
    font-size: .8rem;
    padding-left: 2rem;
}
.site-search__input:focus {
    background-color: #fff;
}
.site-search__icon {
    color: #ccc;
    display: block;
    line-height: 1.6rem;
    width: 2rem;
    pointer-events: none;
    position: absolute;
    text-align: center;
    top: 0;
}
.site-search__input:focus ~ .site-search__icon {
    color: #f90;
}
/*
 * site-message
 */
.site-message {
    background: #f2f2f2 url(../img/old_mathematics.png);
    border-left: .2rem solid #f90;
    font-size: .85rem;
    padding: 0.8rem;
    margin-bottom: 1.5rem;
}
.site-message__text h5 {
    margin: 0 0 .5rem 0;
}
.site-message__text p {
    margin-bottom: .3rem;
}
.site-message__text p:last-child {
    margin-bottom: 0;
}
