/* Common
   ========================================================================== */
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  overflow-y: scroll;
}
body {
  min-width: 980px;
}
.markdown-body {
  font-size: 14px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  display: table;
  content: " ";
}
.clearfix:after,
.container:after {
  clear: both;
}
.form-control {
  display: block;
  width: 100%;
}
.form-checkbox > label {
  cursor: pointer;
  font-weight: 400;
}
.form-checkbox.required > label {
  font-weight: bold;
}
.error-summary {
  padding: 8px 10px;
  margin: 10px 0;
  font-size: 13px;
  color: #bd2c00;
  font-weight: bold;
  background: #ffffe2;
  border: 1px solid #e7e4c2;
  border-radius: 4px
}
.error-summary ul {
  list-style: none;
  padding: 0;
}
.error-summary li {
  padding-bottom: 0;
}
.user-mention {
  color: #333;
  font-weight: bold;
  white-space: nowrap;
}
blockquote .user-mention {
  color: #777;
}
dl.form > dd textarea {
  resize: vertical;
}

/* Header
   ========================================================================== */
.header {

}

/* Navbar
   ========================================================================== */
.navbar {
  background-color: #4183C4;
}
.navbar-brand {
  float: left;
  height: 40px;
  padding: 10px 0;
  font-size: 18px;
  line-height: 20px;
  color: #fbfbfb;
}
.navbar-brand > a {
  color: #fbfbfb;
  text-decoration: none;
}
.navbar-brand > a:hover {
  color: #e5e5e5;
  text-decoration: none;
}
.navbar-brand-beta {
  font-weight: bold;
  font-size: 12px;
  position: relative;
  top: 8px;
  left: -4px;
}
.navbar-brand-beta > a {
  color: #ffbb44;
}
.navbar-brand-beta > a:hover {
  color: #ffbb44;
  text-decoration: none;
}
.navbar-nav {
  float: right;
  list-style: none;
  margin: 0;
}
.navbar-nav > li {
  float: left;
  position: relative;
  display: block;
  height: 40px;
}
.navbar-nav > li.active > a {
  border-bottom: 4px solid #ffbb44;
  color: #fff;
}
.navbar-nav > li.active > a:hover {
  color: #fff;
}
.navbar-nav > li > a {
  position: relative;
  display: block;
  line-height: 20px;
  padding: 6px 10px;
  margin-top: 4px;
  color: #fbfbfb;
  font-weight: bold;
}
.navbar-nav > li > a img {
  margin-right: 5px;
}
.navbar-nav > li > a:hover,
.navbar-nav > li > a:focus {
  text-decoration: none;
  outline: none;
}
.navbar-nav > li > a:hover {
  color: #dcdcdc;
}
.navbar-nav-profile a {
  height: 36px;
}

/* Pagehead
   ========================================================================== */
.pagecontent {
  margin-bottom: 20px;
}
.pagehead {
  padding-bottom: 20px;
}
.pagehead-error {
  color: #d9534f;
}
.pagehead h1 {
  font-weight: normal;
  word-wrap: break-word;
  margin: 0;
}
.pagehead h1 > a,
.pagehead h1 > a:hover,
.pagehead h1 > a:focus {
  text-decoration: none;
  outline: none;
}

.pagehead h2 > a:hover {
  text-decoration: none;
}

.pagehead p {
  color: #777;
  margin-bottom: 0;
  margin-top: 2px;
}

/* Footer
   ========================================================================== */

.footer {
  border-top: 1px solid #EEEEEE;
  margin-top: 30px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.footer .copyright h6 {
  float: right;
  color: #777777;
  font-weight: normal;
  font-size: 12px;
  margin: 0;
}

.footer .footbar {
  color: #777777;
  float: left;
}

.footer .footbar ul {
  font-size: 12px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.footer .footbar li {
  display: inline;
  padding: 0 2px;
}

.footer .footbar li:first-child {
  padding-left: 0;
}

.footer .footbar li:last-child {
  padding-right: 0;
}

.footer .footbar li > a,
.footer .footbar li > a:hover,
.footer .footbar li > a:focus {
  text-decoration: none;
  outline: none;
}

.footer .footbar li.active > a,
.footer .footbar li.active > a:hover,
.footer .footbar li.active > a:focus {
  color: #555555;
  text-decoration: none;
  outline: none;
}

/* Captcha
   ========================================================================== */

.captcha-image {
  overflow: hidden;
  margin-top: 10px;
  cursor: pointer;
}
.captcha-image img {
  float: left;
}
.captcha-hint {
  float: right;
  margin-top: 15px;
  font-size: 11px;
  color: #777777;
}
.captcha-hint p {
  margin: 0;
}
.captcha-hint-link {
  cursor: pointer;
  color: #4183c4;
}
.captcha-hint-link:hover {
  cursor: pointer;
  color: #2a6496;
  text-decoration: underline;
}

/* AuthForm
   ========================================================================== */

.authbox {
  border: 1px solid #DEDEDE;
  border-radius: 4px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
  width: 482px;
  margin: 0 auto;
}
.authbox-header {
  background-color: #fcfcfc;
  border-bottom: 1px dashed #ddd;;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  color: #777777;
  font-size: 13px;
  padding: 15px 20px;
}
.authbox-content {
  padding: 15px 20px;
}
.authbox-footer {
  background-color: #f4f4f4;
  border-top: 1px dashed #ddd;;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #777777;
  font-size: 13px;
  padding: 15px 20px;
}
.authbox-header p,
.authbox-footer p {
  margin: 0;
  padding-bottom: 10px;
}
.authbox-header p:last-child,
.authbox-footer p:last-child {
  padding: 0;
}

/* Pagination
   ========================================================================== */

.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #23527c;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #337ab7;
  border-color: #337ab7;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}

.pagination-center {
  text-align: center;
}

/* Statistic
   ========================================================================== */
.statistic {
  border-color: #b9c5ce;
  border-top-style: dotted;
  border-top-width: 1px;
  padding-top: 7px;
}

.statistic ul {
  list-style: outside none none;
}
.onlinelist {
  border-color: #b9c5ce;
  border-top-style: dotted;
  border-top-width: 1px;
  padding-top: 7px;
  margin-top: 7px;
}

/* Post
   ========================================================================== */
.post {
  overflow: hidden;
  padding-bottom: 20px;
}
.post-container {
  margin-left: 60px;
  position: relative;
  width: 890px;
}
.post-avatar {
  float: left;
}
.post-content {
  border: 1px solid #dfe6ee;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  position: relative;
}
.post-header {
  background-color: #f7f7f7;
  border-bottom: 1px solid #dfe6ee;
  color: #999;
  line-height: 24px;
  padding: 5px 10px;
}
.post-message {
  background-color: #fff;
  padding: 10px;
}
.post-user {
  border-right: 1px solid #dfe6ee;
  padding: 10px;
}
.post-header-user {
  font-weight: bold;
}
.post-header-count {
  float: right;
  padding-top: 2px;
  padding-left: 10px;
}
.post-header-owner {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  float: right;
  font-size: 12px;
  margin: 2px 0 0 10px;
  padding: 4px 8px;
  line-height: 1;
}
.post-update {
  display: none;
  background-color: #fff;
  padding: 10px;
}
.post-update .form-actions {
  margin-top: 10px;
}
.post-update-message {
  background-color: #fafafa;
  min-height: 150px;
  resize: vertical;
}

/* Post Formbox
   ========================================================================== */
.editor-btn-panel {
  margin: 10px;
  overflow: hidden;
}
.editor-btn-text {
  float: left;
}
.editor-btn-preview {
  float: right;
}
.editor-tips {
  font-size: 12px;
  margin: 10px;
  color: #999;
}
.editor-preview {
  background-color: transparent;
  border: 1px solid #ddd;
  border-radius: 3px;
  overflow: auto;
  display: none;
  font-size: 13px;
  min-height: 200px;
  padding: 5px 10px;
  margin: 0 10px;
}





.post-formbox {
  padding-top: 20px;
}
.post-formbox-content {
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-left: 60px;
  position: relative;
  width: 890px;
}
.post-formbox-content .error-summary {
  margin: 10px 10px 0 10px;
}
.post-formbox-content .form-actions {
  padding: 10px;
}
.post-formbox-content .form-group {
  margin: 0 10px;
}
.postform-create textarea {
  border-color: #ddd;
  background-color: #fafafa;
  min-height: 200px;
  resize: vertical;
  max-width: 100%;
  padding: 6px 10px;
}
.post-formbox-tabnav {
  background: #f7f7f7;
  border-radius: 3px 3px 0 0;
  margin-bottom: 10px;
  padding: 6px 10px 0;
}
.post-formbox-tabnav > nav > a {
  font-size: 13px;
}
.field-topicform-subject {
  padding: 10px 0;
}
.topic-discussion {
  position: relative;
  border-bottom: 2px solid #f3f3f3;
}
.topic-discussion::before {
  background-color: #f3f3f3;
  bottom: 0;
  content: "";
  display: block;
  left: 70px;
  position: absolute;
  top: 0;
  width: 2px;
  z-index: -1;
}

